{% extends "film/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <pre></pre><pre></pre><pre></pre>
    <div style="background-color:white" class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-3" style="color:black">Register</legend>
            <div style="color:black">{{form|crispy}}</div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-danger" type="submit">Sign Up</button>
        </div>
    </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                If you have an account? <a class="ml-2" href="/login/">Sign In</a> </small>
        </div>
    </div>
{% endblock content %}